
.PrettyCards_ShopCosmeticsHover_Title {
    font-size: 1.5em;
    margin: 0.1em;
}

.PrettyCards_ShopCosmeticsHover_Subtitle {
    font-size: 1.2em;
    margin-bottom: 0.1em;
}

.PrettyCards_ShopCosmeticsHover_Price {
    font-size: 1.2em;
    margin-bottom: 0.1em;
}