
.PrettyCards_ShopContainer {
    border: 3px solid white;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 700px;
}

.PrettyCards_ShopLeft,.PrettyCards_ShopRight {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.PrettyCards_ShopLeft {
    width: 500px;
    border-right: 3px solid white;
    background-color: black;
}

.PrettyCards_ShopRight {
    width: 400px;
}

.PrettyCards_ShopMenuContainer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    border-top: 3px solid white;
    background-color: black;
}

.PrettyCards_ShopMenu_Option {
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
    background: none;
    border: none;
    display: block;
    padding: 0px;
}

.PrettyCards_ShopMenu_Option:hover {
    color: rgb(255, 238, 0);
}

.PrettyCards_ShopMenu_Option:active {
    color: rgb(255, 149, 0);
}

.PrettyCards_ShopMenu_Option:disabled,.PrettyCards_ShopTalkOption[disabled] {
    color: #555555!important;
    cursor: not-allowed!important;
}

.PrettyCards_ShopkeeperContainer {
    height: 100%;
    overflow: hidden;
}

.PrettyCards_ShopkeeperContainer > div {
    transform: translate(-50%, -100%);
    top: 100%;
    left: 50%;
}

.PrettyCards_ShopBuyContainer {
    height: 100%;
    overflow-y: auto;
}

.PrettyCards_ShopBuyContainer > div {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.PrettyCards_ShopDialogueContainer {
    border-top: 3px solid white;
    font-size: 1.5em;
    padding: 10px;
    transition: all 0.5s;
    user-select: none;
    flex: 0 0 auto;
}

.PrettyCards_ShopDialogueContainer:empty {
    border-top: 0px solid white;
    padding: 0px;
    height: 0px!important;
}

.PrettyCards_UTTextParagraph {
    padding-left: 1.1em;
    position: relative;
}

.PrettyCards_UTTextParagraph::before {
    content: "* ";
    position: absolute;
    left: -0.06em;
}

.PrettyCards_SimpleTalkScreen {
    padding-bottom: 10px;
}

.PrettyCards_ShopTalkOption {
    font-size: 2em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
    cursor: pointer;
}

.PrettyCards_ShopTalkOption::before {
    content: "* ";
}

.PrettyCards_ShopTalkOption:hover {
    color: rgb(255, 238, 0);
}

.PrettyCards_ShopTalkOption:active {
    color: rgb(255, 149, 0);
}

.PrettyCards_ShopFlexList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.PrettyCards_ShopFlexList_OuterTrue {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.PrettyCards_ShopArtifactDisplay {
    width: 20%;
    aspect-ratio: 1;
    /* height: 90px; */
    border: 3px solid grey;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/TEMPLATE.png");
    background-size: cover;
    cursor: pointer;
}

.PrettyCards_ShopArtifactDisplay.BASE {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/BASE.png");
    border-color: darkgrey;
}

.PrettyCards_ShopArtifactDisplay.COMMON {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/COMMON.png");
    border-color: rgb(85, 29, 21);
}

.PrettyCards_ShopArtifactDisplay.RARE {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/RARE.png");
    border-color: rgb(0, 0, 154)
}

.PrettyCards_ShopArtifactDisplay.EPIC {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/EPIC.png");
    border-color: rgb(73, 0, 73);
}

.PrettyCards_ShopArtifactDisplay.LEGENDARY {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/LEGENDARY.png");
    border-color:rgb(212, 159, 0)
}

.PrettyCards_ShopArtifactDisplay.TOKEN {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/TOKEN.png");
    border-color: rgb(0, 68, 0);
}

.PrettyCards_ShopArtifactDisplay.DETERMINATION {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/DETERMINATION.png");
    border-color: rgb(149, 0, 0);
}

@keyframes mythicArtifact {
    0% {
        border-color: red
    }

    17% {
        border-color: #ff0
    }

    33% {
        border-color: #0f0
    }

    50% {
        border-color: #0ff
    }

    67% {
        border-color: #00f
    }

    84% {
        border-color: #f0f
    }

    100% {
        border-color: red
    }
}

.PrettyCards_ShopArtifactDisplay.MYTHIC {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/MYTHIC.png");
    animation-name: mythicArtifact;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}

.PrettyCards_ShopArtifactDisplay:hover img {
    opacity: 0.6;
}

.PrettyCards_ShopArtifactDisplay img {
    width: 64px;
    height: 64px;
}