
.PrettyCards_ShopContainer {
    border: 3px solid white;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 700px;
}

.PrettyCards_ShopLeft,.PrettyCards_ShopRight {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.PrettyCards_ShopLeft {
    width: 500px;
    border-right: 3px solid white;
}

.PrettyCards_ShopRight {
    width: 400px;
}

.PrettyCards_ShopMenuContainer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    border-top: 3px solid white;
}

.PrettyCards_ShopMenu_Option {
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
    background: none;
    border: none;
    display: block;
    padding: 0px;
}

.PrettyCards_ShopMenu_Option:hover {
    color: rgb(255, 238, 0);
}

.PrettyCards_ShopMenu_Option:active {
    color: rgb(255, 149, 0);
}

.PrettyCards_ShopkeeperContainer {
    height: 100%;
}

.PrettyCards_ShopBuyContainer {
    height: 100%;
    overflow-y: auto;
}

.PrettyCards_ShopDialogueContainer {
    border-top: 3px solid white;
    font-size: 1.5em;
    padding: 10px;
    transition: all 0.5s;
    user-select: none;
    flex: 0 0 auto;
}

.PrettyCards_ShopDialogueContainer:empty {
    border-top: 0px solid white;
    padding: 0px;
    height: 0px!important;
}

.PrettyCards_UTTextParagraph {
    padding-left: 1.1em;
    position: relative;
}

.PrettyCards_UTTextParagraph::before {
    content: "* ";
    position: absolute;
    left: -0.06em;
}

.PrettyCards_ShopTalkOption {
    font-size: 2em;
    margin: 0.5em;
    user-select: none;
}

.PrettyCards_ShopTalkOption::before {
    content: "* ";
}

.PrettyCards_ShopTalkOption:hover {
    color: rgb(255, 238, 0);
}

.PrettyCards_ShopTalkOption:active {
    color: rgb(255, 149, 0);
}

.PrettyCards_ShopFlexList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.PrettyCards_ShopArtifactDisplay {
    margin: 5px;
    width: 80px;
    height: 80px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/TEMPLATE.png");
    background-size: cover;
    cursor: pointer;
}

.PrettyCards_ShopArtifactDisplay.BASE {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/BASE.png");
}

.PrettyCards_ShopArtifactDisplay.COMMON {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/COMMON.png");
}

.PrettyCards_ShopArtifactDisplay.RARE {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/RARE.png");
}

.PrettyCards_ShopArtifactDisplay.EPIC {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/EPIC.png");
}

.PrettyCards_ShopArtifactDisplay.LEGENDARY {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/LEGENDARY.png");
}

.PrettyCards_ShopArtifactDisplay.DETERMINATION {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/DETERMINATION.png");
}

.PrettyCards_ShopArtifactDisplay.MYTHICAL {
    background-image: url("https://raw.githubusercontent.com/PrettyCards/shops/main/img/artifact_boxes/MYTHICAL.png");
}

.PrettyCards_ShopArtifactDisplay:hover img {
    opacity: 0.8;
}

.PrettyCards_ShopArtifactDisplay img {
    width: 64px;
    height: 64px;
}