
.PrettyCards_ShopContainer {
    border: 3px solid white;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 700px;
}

.PrettyCards_ShopLeft,.PrettyCards_ShopRight {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.PrettyCards_ShopLeft {
    width: 500px;
    border-right: 3px solid white;
}

.PrettyCards_ShopRight {
    width: 400px;
}

.PrettyCards_ShopMenuContainer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    border-top: 3px solid white;
}

.PrettyCards_ShopMenu_Option {
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
    background: none;
    border: none;
    display: block;
    padding: 0px;
}

.PrettyCards_ShopMenu_Option:hover {
    color: rgb(255, 238, 0);
}

.PrettyCards_ShopMenu_Option:active {
    color: rgb(255, 149, 0);
}

.PrettyCards_ShopkeeperContainer {
    height: 100%;
}

.PrettyCards_ShopBuyContainer {
    height: 100%;
}

.PrettyCards_ShopDialogueContainer {
    border-top: 3px solid white;
    font-size: 1.5em;
    padding: 10px;
    transition: all 0.5s;
}

.PrettyCards_ShopDialogueContainer:empty {
    border-top: 0px solid white;
    padding: 0px;
    height: 0px!important;
}